@model IEnumerable<Msmaldi.Financeiro.Website.Entities.Stock>
@{ ViewData["Title"] = "Ações"; }
<h2>@ViewData["Title"]</h2>
<p><a asp-action="Create">Incluir novo</a></p>
<hr />
<div class="row">
@foreach (var item in Model)
{
    <div class="col-sm-1">@item.Symbol</div>
}
</div>