@model Msmaldi.Financeiro.Website.Models.SwingTradeViewModels.SwingTradeViewModel
@{ ViewData["Title"] = "Create"; }
<h2>Incluir</h2>   
<div class="row">
    <div class="col-sm-6 col-md-4">
        <form asp-action="Create">
            <div class="form-horizontal">
                <h4>Swing Trade</h4>
                <hr />
                    <a asp-controller="Stock" asp-action="Create">O código da ação não aparece na lista, clique aqui</a>
                    
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Symbol" class="col-sm-6 control-label"></label>
                    @*<div class="col-sm-6"> ViewBag.Stocks
                        <input autofocus type="text" asp-for="Symbol" class="form-control"/>
                    </div>*@
                    <div class="col-sm-6">
                        @*<select class="form-control" name="Symbol" id="Symbol">
                            <option>BBPO11.SA</option>
                            <option>BBFI11B.SA</option>
                            <option>MFII11.SA</option>
                            <option>GGRC11.SA</option>
                            <option>PETR4.SA</option>
                        </select>*@
                        <select asp-for="Symbol" class="form-control"  asp-items="@ViewBag.Stocks"></select>
                    </div>
                    <div class="col-xs-offset-1 col-sm-offset-2">
                        <span asp-validation-for="Symbol" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Quantidade" class="col-sm-6 control-label"></label>
                    <div class="col-sm-6">
                        <input autofocus type="text" asp-for="Quantidade" class="form-control" />
                    </div>
                    <div class="col-xs-offset-1 col-sm-offset-2">
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ValorDeAquisicao" class="col-sm-6 control-label"></label>
                    <div class="col-sm-6">
                        <input autofocus type="text" asp-for="ValorDeAquisicao" class="form-control" />
                    </div>
                    <div class="col-xs-offset-1 col-sm-offset-2">
                        <span asp-validation-for="ValorDeAquisicao" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="submit" value="Incluir" class="btn btn-default" />
                        <a asp-action="Index" class="btn btn-default">Voltar a lista</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts { @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }